<div class="container">
<p>
  The goal of this website is to play around with typescript, webpack, and write some cool algies. 
</p>
<p>
	<a href="https://www.typescriptlang.org/docs/tutorial.html">TypeScript</a>, is javascript "that scales", the language caught major headwind when Angular2 came out and seems to be building now with TypeScript 2.0 available.  Microsoft has attempted to build a bridge between Object Oriented Languages and Functional with strong type checking of javascript.  As of right now (October 23, 2016) you are to write .ts files and <em>transpile</em> them into javascript, which can then be interpretted by browsers since there is no direct support for TypeScript yet.  TS has a very similar field to how I wrote a C# forms application, but I have noticed that there are ways around the type checking and strict property requirements, showing that you can't contain the wilderbeast known as JavaScript entirely. 
</p>
<div>
	<p>
	<a href="https://angular.io/docs/ts/latest/">Angular 2.0</a>, is a completely separate project done from scratch by Google, that has some similarities to its' predecessor <em>Angular</em>.  The primary differences are substantial:
	</p>
	<ol>
		<li>TypeScript support</li>
		<li>Heavy emphasis on MVC</li>
		<li>Dependency Injections</li>
		<li>SYNTAX</li>
	</ol>
	<p>
	So far, I like angular2, I think the components make it easy to find errors and organize projects.  I'm not going to say that it's better than angular1 because I really did enjoy angular1 but it is nice.  It also kinda sucks that converting an old angular1 project to angular2 requires you to rewrite your entire app.  Also, I don't necessarily think it's fair to compare react with angular2 because they're different tools and they are intended to solve different problems. <em>That's all I have to say about that.</em>
	</p>
</div>