<header>
  <nav>
  	<div class="dropdown">
		<button class="dropbtn" [routerLink]="['']">Home</button>
	</div>
	<div class="dropdown">
		<button class="dropbtn">Data Structures</button>
		<div class="dropdown-content">
	    	<a *ngFor="let ds of dataStructures" [routerLink]="ds.router">{{ds.name}}</a>
	    </div>
	</div>
	<div class="dropdown">
		<button class="dropbtn">Algorithms</button>
		<div class="dropdown-content">
	   		<a href="#" *ngFor="let algie of algorithms">{{algie}}</a>
	   	</div>
	</div>
	<div class="dropdown">
		<a class="dropbtn" [routerLink]="['about']">About</a>	
	</div>
  </nav>
  <h1>{{api.title}}</h1>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
</footer>
