@import '~@angular/material/core/theming/prebuilt/purple-green.css';

$spry: #81CFE0;
$mainFamily: Arial, Helvetica, sans-serif;


body{ 
	font-family: $mainFamily;
    background: $spry;
}

a{ 
	color: #03A9F4;
}

